.filestore_body {
	background-color: white;
	margin-top: 30px;
}
.icon_filestore {
	height: 60px;
}
.header_right {
	height: 60px;
	line-height: 60px
}
.header_icon{
	padding-right: 15px;
	font-size: 15px;
}
.header_searchbox {
	height: 100%;
	line-height: 100%;

}
.input_search {
	height: 30px;
	padding-top: 15px;
}
.list_left_action {
	padding-top: 15px;
	list-style-type: none;
}
ul.list_left_action > li {
	height: 30px;
	line-height: 30px;
}
.menu_left {
	padding-left: 50px;
}
.header_content {
	padding-top: 15px;
}
.header_content div {
	padding-bottom: 15px;
	border-bottom: 4px solid #eee;
}

.list_file{
	padding-left: 0px;
}
.list_file:hover {
	border-bottom: 1px solid #eee;
	background-color: rgba(0, 159, 167, 0.1);
}
.list_file div {
	padding: 15px 12px;
}
.header_content:hover {
	background-color: rgba(0, 159, 167, 0.04);
}
.name_content {

}
.modified_content {
	padding-left: 15px !important;
}
.share_content {
	padding-left: 18px !important;
}
/*.content {
	max-height: 400px;
	overflow-y : scroll;
}*/